body {
  background: #dcdcdc;
}

.main {
  display: grid;
  height: 100dvh;
  width: 100vw;
  animation: loading 0.5s linear;
}

@keyframes loading {
  from {
    scale: 0;
    -webkit-transform: scale(0);
  }

  to {
    scale: 1;
    -webkit-transform: scale(1);
  }
}
